#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#battle-interface {
    background-image: url("/static/Battle_Background.jpg");
    background-size: 100% 100%;
    width: 100vw;
    height: 75vh;
}

#option-select-interface {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 25vh;
    background-color: white;
    outline: 1vh solid black;
    
}

#prompt {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    
    color: white;
    font-weight: bold;
    font-size: 3vw;

    background-color: rgb(41, 94, 194);
    width: 50vw;
    outline: .5vh solid black;
}

#options-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 50vw;

    outline: .5vh solid black;
}

.button-style {
    margin: unset;
    padding: unset;
    height:50%;
    width:50%;
    background-color: transparent;
   
}

#trainer-pokemon {
    width: 30%;
    height:30%;
    object-fit: contain;
    position: absolute;
    left:10vw;
    top: 47vh;

}

#opponent-pokemon {
    width: 40%;
    height:50%;
    object-fit: contain;
    position: absolute;
    left: 55vw;
}

.battle-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 25vh;

    font-weight: bold;
    font-size: 2vw;
    background-color: blanchedalmond;
    outline: .5vh solid black;
    
    padding-top: 3vh;
    padding-left: 1vw;
    
}

#opponent-box {
    top: 8vh;
    left: 15vw;
    
}

#trainer-box {
    bottom: 28vh;
    right: 15vw;
}

.health-bar {
    margin-top: 5vh;
    margin-left: 3vw;
    background-color: #6AA84F;
    width: 80%;
    outline: .5vh solid black;
    
    
}

.health {
    background-color:rgb(32, 32, 32);
    color: lightsalmon;
    width: 15%;
    font-size: 80%;
    text-align: center;
    outline: .5vh solid black;
}

.exp-bar {
    margin-top: 6vh;
    align-items: center;
    background-color: #2B78E4;
    width: 95%;
    outline: .5vh solid black;
    
    
}

.exp {
    background-color:rgb(32, 32, 32);
    color: lightsalmon;
    width: 15%;
    font-size: 50%;
    text-align: center;
    outline: .5vh solid black;
}


