* {
	font-family: Sans-Serif;
	margin: 0;
	padding: 0;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

*::-webkit-scrollbar {
	display: none;
}

body {
	background-color: #45818E;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.large-icon {
	font-size: 8vw;
	margin: 1rem;
}
