@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

*::-webkit-scrollbar {
	display: none;
}

:root {
	--bg-teal: #45818E;
	--bg-text-box: #2B78E4;
	--bg-text-box-hover: #4e8ee8;
	--fg-stat: #FF9900;
	--bg-stat: #333333;
	--bg-hp-bar: #6AA84F;
	--bg-hp-bar-hover: #8AC86F;
	--bg-exp-bar: #2B78E4;
	--bg-back: #9900FF;
	--bg-back-hover: #A319FF;
	--fg-health: #ffbbaa;
	--fg-attack: #ff5566;
	--fg-defense: #aaffbb;
	--fg-speed: #aabbff;
}

body {
	background-color: var(--bg-teal);
	width: 100vw;
	height: 100vh;
}

a {
	text-decoration: none;
}

.large-icon {
	font-size: 4vw;
	margin: 1rem;
}

.huge-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12vw;
}

button {
	margin: 1vh 2vw;
	padding: 0.5vh 1vw;
	font-size: 4vw;
	transition-duration: 0.2s;
	border: 0;
	border-radius: 1vw;
}

button:hover {
	transform: scale(1.01);
}

#back-button {
	position: relative;
	width: 20vw;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
	background-color: var(--bg-back);
	font-size: 4vw;
}

#back-button:hover {
	background-color: var(--bg-back-hover);
}

#back-button > #pokeball {
	position: absolute;
	top: calc(50% - 4vw);
	left: calc(-4vw);
	width: 8vw;
}

#select-button {
	position: relative;
	width: 20vw;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
	background-color: var(--bg-hp-bar);
	font-size: 4vw;
	margin-right: 4vw;
}

#select-button:hover {
	background-color: var(--bg-hp-bar-hover);
}

#select-button > #pokeball {
	position: absolute;
	top: calc(50% - 4vw);
	left: calc(-4vw);
	width: 8vw;
}

.text-box {
	padding: 0.5em;
	color: white;
	background-color: var(--bg-text-box);
	border-radius: 4px;
	border: 2px solid black;
	font-size: 1.5vw;
}

.item-list-entry {
	padding: 0.5em;
	background-color: var(--bg-text-box);
	border-radius: 4px;
	border: 2px solid black;
	height: 15vh;
}

.text-box.title {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.5vw;
}

.text-box.title-left {
	display: flex;
	align-items: left;
	justify-content: center;
	font-size: 2.5vw;
}

.sprite {
	image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}