body {
	display: grid;
	grid-template-columns: 30vw 70vw;
	grid-template-rows: 10vh 30vh 20vh 20vh 20vh;
	grid-template-areas:
		"picture header"
		"picture description"
		"picture stats"
		"types stats"
		"types back";
}

#picture {
	grid-area: picture;
	width: 100%;	
}

#header {
	grid-area: header;
}

#description {
	grid-area:description;

}

#types {
	grid-area: types;
}

.type-box{
	width: 50%;
	border: 5px solid black;
	height: 2em;
	margin: 1em;
}

#stats {
	grid-area: stats;
}

#back {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	grid-area: back;
}
