#list-div {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100vw;
	height: 80vh;
	padding: 1vh 0;
}

#footer-div {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	width: 100vw;
	height: 20vh;
}

button {
	width: 90vw;
	height: 15vh;
	border: 0;
	border-radius: 1vw;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	font-size: 4vw;
	transition-duration: 0.2s;
	margin: 1vh 2vw;
	padding: 0.5vh 1vw;
}

#potions-button {
	color: #CF2A27;
	background-color: #EA9999;
}

#balls-button {
	color: #2B78E4;
	background-color: #9FC5F8;
}

#special-button {
	color: #009E0F;
	background-color: #B6D7A8;
}

#potions-button:hover {
	background-color: #ECA3A3;
}

#balls-button:hover {
	background-color: #A8CAF8;
}

#special-button:hover {
	background-color: #BDDBB0;
}

