body {
	display: grid;
	grid-template-columns: 70vw 30vw;
	grid-template-rows: 10vh 60vh 10vh 20vh;
	grid-template-areas: 
		"header header"
		"map chat"
		"map text-box"
		"map-info back";
}

#header {
	position: relative;
    grid-area: header;
}

#map {
	grid-area: map;
	width: 70vw;
	height: 70vh;
}

#map-info {
	grid-area: map-info;
}

#chat {
	grid-area: chat;
}

#text-box {
	padding: 1vh 1vw;
	font-size: 2vw;
	grid-area: text-box;
}

#back {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	grid-area: back;
}

#pokeball {
	position: absolute;
	top: calc(10vh - 4vw);
	left: 2vw;
	width: 8vw;
}
