#main-container{
    display: flex;
    flex-direction: row;

    height: 75vh;
    max-height: 75vh;
}

#selected-column {
    width: 50vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 10vh;
    color: white;
}

#party-column {
    width: 50vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#selected-poke-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    height: 30%;

    margin-top: 20%;
    margin-left: 10%;
    background-color: rgb(41, 94, 194);
    outline: .5vh solid black;

    padding-top: 5%;
    font-size: 2vw;
    color: white;
    font-weight: bold;
}

.party-poke-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40vw;
    height: 12vh;

    margin-top: 2vh;
    background-color: var(--bg-text-box);
    outline: .5vh solid black;

    padding-top: 1%;
    font-size: 2vw;
    color: white;
    font-weight: bold;
}

.party-poke-box:hover {
	background-color: var(--bg-text-box-hover);
}

.health-bar {
    margin-top: 5%;
    background-color: var(--bg-hp-bar);
    width: 70%;
    outline: .5vh solid black;
}

.health {
    background-color:var(--bg-stat);
    color: var(--fg-stat);
    width: 15%;
    font-size: 80%;
    text-align: center;
    outline: .5vh solid black;
}

#selected-poke {
    width: 20%;
    height: 100%;
    object-fit: contain;

}

.party-poke {
    width: 20%;
    height: 100%;
    object-fit: contain;
}

#prompt {
    display: flex;
    flex-direction: row;
    align-items: center;
	justify-content: space-around;
    height: 25vh;

}

#message {
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 40%;
    background-color: white;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 2vw;
    outline: .5vh solid black;
}
