{% extends "base.html" %} {% block title %}Items{% endblock %} {% block head %}
{{ super() }}
<link rel="stylesheet" href="static/battle.css" type="text/css" />
{% endblock %} {% block body %}
<div id="main-container">
  {% set p=active_pokemon %}
  <div id="battle-interface">
    <img id="trainer-pokemon" src={{p['battle_sprite_path']}} />
    <img id="opponent-pokemon" src="/static/arceus_battle_sprite2.png" />

    <div class="battle-box" id="opponent-box">
      <div class="status-box-title">
        <p>ARCEUS</p>
        <p>Lv. 99</p>
      </div>

      <div class="health bar">
        <div class="stat">HP</div>
      </div>
    </div>

    <div class="battle-box" id="trainer-box">
      <div class="status-box-title">
        <p>{{p['p_name']|upper}}</p>
        <p>Lv. {{p['hype']}}</p>
      </div>

      <div class="health bar">
        <div class="stat">HP</div>
      </div>

      <div class="exp bar">
        <div class="stat">EXP</div>
      </div>
    </div>
  </div>

  <div id="option-select-interface">
    <div id="prompt">What will {{p['p_name']|upper}} do?</div>

    <div id="options-grid">
      <button class="button-style">Fight</button>
      <a href="/items"><button class="button-style">Bag</button></a>
      <a href="/team"><button class="button-style">Pokemon</button></a>
      <button class="button-style">Run</button>
    </div>
  </div>
</div>
{% endblock %}
