<!DOCTYPE html>
<html>
	<head>
		<title>Pokemon Info</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/static/global.css" type="text/css" />
		<link rel="stylesheet" href="/static/individual.css" type="text/css" />
		<link rel="icon" type="image/x-icon" href="/static/pokeball.svg" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	</head>
	
	<body>
		
		<p id="header" class="text-box title">
			Pokemon Profile
			<img id="pokemon" src="/static/pikachu_outline.png" alt="Pikachu">
		</p>
		
				
		<p id="pokemon-info" class="text-box title">
			[Mountain Gym: Rock, Steel, and Ground type monsters]
		</p>

		<div id="back">
			{% include 'back.html' %}
		</div>
	</body>
</html>
