{% extends "base.html" %}
{% block title %}Items{% endblock %}
{% block head %}
    {{ super() }}
	<link rel="stylesheet" href="static/items.css" type="text/css" />
{% endblock %}
{% block body %}
	<div id="list-div">
		<a href="/items/potions">
			<button id="potions-button">
				<i class="fa-solid fa-flask large-icon"></i>
				Potions
			</button>
		</a>
		<a href="/items/balls">
			<button id="balls-button">
				<i class="fa-regular fa-circle large-icon"></i>
				Balls
			</button>
		</a>
		<a href="/items/special">
			<button id="special-button">
				<i class="fa-regular fa-star large-icon"></i>
				Special
			</button>
		</a>
	</div>
	<div id="footer-div">
		{% include 'back.html' %}
	</div>
{% endblock %}
