<!DOCTYPE html>
<html>
	<head>
		<title>Item Information</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/static/global.css" type="text/css" />
		<link rel="stylesheet" href="/static/item.css" type="text/css" />
		<link rel="icon" type="image/x-icon" href="/static/pokeball.svg" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	</head>
	
	<body>
		<p id="header" class="text-box title-left">
            <img id="pokeball" src="/static/pokeball_outline.svg" alt="An Outlined Pokeball">
			Health Potion
            <img id="pokeball" src="/static/pokeball_outline.svg" alt="An Outlined Pokeball">
		</p>
		
		<img id="pic" src="/static/health-potion.svg">
        <p id="stats" class="desc">Times used: 3<br>Amount healed: 300<br>Pokemon revived: 1<br>Random Stat: 1337</p>

		</div>

        <div id ="description" class="desc">The Potion was introduced as a Trainer card in the Pokémon Trading Card Game during the English Original Series (the Japanese Original Era) in the Base Set expansion with artwork by Keiji Kinebuchi. It was later released as an Item card in the Black & White expansion with new artwork by Ayaka Yoshida, first released in the Japanese Beginning Set. This card has since been released numerous times throughout the course of the TCG. In the Base Set, Expedition Base Set, and EX Unseen Forces prints, this Trainer card allows the player to remove two damage counters from one of their Pokémon. In the Black & White, XY, and Sun & Moon Series prints, this Trainer card allows the player to heal 30 damage from one of their Pokémon.</div>
        
        <p id="stats" class="desc">This health potion restores the HP of one Pokémon by 100 points unless negatively affected. A spray-type medicine for treating wounds. It can be used to restore 100 HP to an injured Pokémon, or revive a downed Pokemon.</p>

		<div id="back">
			<a href="{{back_url}}">
                <button id="back-button">
                    Back
                </button>
            </a>
		</div>
	</body>
</html>