{% extends "base.html" %}
{% block title %}Item List{% endblock %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="/static/item_list.css" type="text/css" />
{% endblock %}	
{% block body %}
	<div id="list-div">
		{% for item in items %}
		<a href="/items/{{type}}/{{item['item_name']}}">
			<button class="item-list-entry" id="potions-button" style="color: #{{item['color']}};">
				<i class="{{item['icon']}} large-icon"></i>
				{{item['item_display_name']}}
			</button>
		</a>
		{% endfor %}
	</div>
	<div id="footer-div">
		{% include 'back.html' %}
	</div>
{% endblock %}
