<!DOCTYPE html>
<html>
	<head>
		<title>Pokemon</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/static/global.css" type="text/css" />
		<link rel="stylesheet" href="/static/map.css" type="text/css" />
		<link rel="icon" type="image/x-icon" href="/static/pokeball.svg" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	</head>
	
	<body>
		
		<p id="header" class="text-box title">
			You are currently in the [Basho] Region!
			<img id="pokeball" src="/static/pokeball_outline.svg" alt="An Outlined Pokeball">
		</p>
		
		<img id="map" src="/static/skyrimmap.jpg" alt="The Map Image">
		
		<p id="map-info"class="text-box title">
			[Mountain Gym: Rock, Steel, and Ground type monsters]
		</p>

		<div id="chat"class="text-box">

		</div>
		
		<input type="text" id="text-box" name="Name" placeholder="Type here to msg" class="text-box">

		<div id="back">
			{% include 'back.html' %}
		</div>
	</body>
</html>

