<!DOCTYPE html>
<html>
	<head>
		<title>Pokemon</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="global.css" type="text/css" />
		<link rel="stylesheet" href="map.css" type="text/css" />
		<link rel="icon" type="image/x-icon" href="pokeball.svg" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	</head>
	
	<body>
	
		<p id="topBanner">
			Region Map
		</p>
		
		<p id="topBlueBanner">
			You are currently in the [Basho] Region!
		</p>
		
		<p id="lowerBlueBanner">
			[Mountain Gym: Rock, Steel, and Ground type monsters]
		</p>
		
		<p id="lowerWhiteBanner">	
		</p>
		
		
		<input type="text" id="messageBox" name="Name" placeholder="Type here to msg">
		
		

		<button id="menuButton">
			MENU
		</button>
		
		
		<img id="pokeball" src="pokeball_outline.svg" alt="An Outlined Pokeball">
		<img id="mapImage" src="skyrimmap.jpg" alt="The Map Image">
	</body>
</html>

