<!DOCTYPE html>
<html>
	<head>
		<title>Pokemon Info</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/static/global.css" type="text/css" />
		<link rel="stylesheet" href="/static/individual.css" type="text/css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	</head>
	
	<body>
		
		<p id="header" class="text-box title">
			{{pokemon['p_name']|capitalize}}
		</p>

		<img id="picture" class="sprite" src="{{pokemon['sprite_path']}}" alt="{{pokemon['p_name']|capitalize}}">
		
		<p id="description" class = "text-box">
			{{pokemon['description']}}
		</p>

		<div id="stats" class = "text-box">
			<p>Caught: {{pokemon['caught_date']}}</p>
			<p>Currently Holding: {{pokemon['holding']}}</p>
			<p style="color: var(--fg-health);">Health: {{pokemon['health']}}</p>
			<p style="color: var(--fg-attack);">Attack: {{pokemon['attack']}}</p>
			<p style="color: var(--fg-defense);">Defense: {{pokemon['defense']}}</p>
			<p style="color: var(--fg-speed);">Speed: {{pokemon['speed']}}</p>
		</div>

		<div id="back">
			{% include 'back.html' %}
		</div>

		<div id = "types">
			{% for type in types %}
			<p class="type-box" style="background-color: #{{type['p_type_color']}}">{{type['p_type_name']}}</p>
			{% endfor %}
		</div>
	</body>
</html>
