{% extends "base.html" %}
{% block title %}Items{% endblock %}
{% block head %}
    {{ super() }}
	<link rel="stylesheet" href="static/team.css" type="text/css" />
{% endblock %}
{% block body %}
	<div id="main-container">
        <div id="selected-column">
			<h1>Active Pokemon</h1>
            {% set p=active_pokemon %}
            {% include 'party_box.html' %}

        </div>

        <div id="party-column">
			{% for p in pokemon %}
				{% include 'party_box.html' %}
			{% endfor %}
        </div>

    </div>

    <div id = "prompt">
        <div id = "message" >
            Choose a POKEMON.
        </div>
        {% include 'back.html' %}
    </div> 

{% endblock %}